section.wrapper{
    text-align: center;
    float: left;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 60vw;
    background-image: url("../img/BG2.jpg");
    background-position: 5%;
   
}
table{

    width: 30vw;
    float: left;
}

.button {
background-color: #9e8585;
border: none;
box-shadow: 0 9px#505050;
padding: 30px;
text-align: center;
font-size: 28px;
}

.button:hover {
background-color: #3F3F3F;
}

.button:active {
box-shadow: 0 5px #3D3D3D;
transform: translateY(5px);
}

.red {
color: #e60808;
}

.green {
color: #038f03;
}

.blue {
color: #0000FF;
}

.yellow {
color: #FFFF00;
}

.round {
border-radius: 50%;
}



#myProgress {
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }